.App {
  text-align: center;
}

.App-logo, .Quiz-logo {
  height: 40vmin;
  width: 100%;
  max-width: 40rem;
  pointer-events: none;
}

.d-none{
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: rgb(16, 67, 133);
  color: white;
  box-shadow: 0px 1px 8px #111111;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

a {
  text-decoration: none;
}
a:visited {
  color: white;
}

a:hover{
  color: rgb(199, 199, 199);
}

.App-body {
  background-image: linear-gradient(179.1deg, rgb(43, 170, 96) 2.3%, rgb(129, 204, 104) 98.3%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-box {
  background-color: white;
  height: 70vh;
  width: 60vw;
  color: black;
  border-radius: 1rem;
}

.App-link {
  color: #61dafb;
}

.btn {
  background-color: #04AA6D; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.6rem;
  pointer-events: all;
}

.btn.btn-answer {
  margin-top: 2rem;
}

.btn:disabled {
  background-color: gray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
